# Build output
/bin/
/obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.rsuser
*.suo

# Logs
Logs/

# Properties folder
/Properties/

# Azure Service Dependencies
ServiceDependencies/
serviceDependencies*.json
serviceDependencies*.json.user

# Publish folder
/publish/