# Build output
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# User-specific files
*.user
*.rsuser
*.suo

Logs/

# Publish Profiles
Properties/PublishProfiles/*.pubxml.user
Properties/PublishProfiles/*.pubxml

# Azure Service Dependencies
ServiceDependencies/
serviceDependencies*.json
serviceDependencies*.json.user

# Publish folder
publish/